<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- 应用程序配置文件和日志配置文件 -->
	<!-- 
	<context-param>
		<param-name>app-config-file</param-name>
		<param-value>app-config.xml</param-value>
	</context-param>
	<context-param>
		<param-name>logger-config-file</param-name>
		<param-value>log4j.properties</param-value>
	</context-param>
	-->
	 
	<!-- OSCache 缓存过滤器 -->
	<!-- 
	<filter>
		<filter-name>CacheFilter</filter-name>
		<filter-class>com.opensymphony.oscache.web.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>time</param-name>
			<param-value>30</param-value>
		</init-param>
		<init-param>
			<param-name>scope</param-name>
			<param-value>session</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>/jsp/filter_cache/*</url-pattern>
	</filter-mapping>
	-->
	
	<!-- EHCache-Web 页面缓存过滤器 -->
	<filter>  
		<filter-name>PageCacheFilter</filter-name>
			<filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
		<init-param>
			<!-- EHCache 的 Cache Name（可选，默认：SimplePageCachingFilter） -->
			<param-name>cacheName</param-name>
			<param-value>MyWebCache</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PageCacheFilter</filter-name>
		<url-pattern>/page/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<!-- URL Rewrite 过滤器 -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<!-- UrlRewriteFilter 的配置文件（可选，默认：/WEB-INF/urlrewrite.xml） -->
			<param-name>confPath</param-name>
			<param-value>/WEB-INF/classes/urlrewrite.xml</param-value>
		</init-param>
		<init-param>
			<!-- UrlRewriteFilter 的状态监控页面地址（可选，默认：/rewrite-status） -->
			<param-name>statusPath</param-name>
			<param-value>/page/rewrite-status</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<!-- 拦截 URL 的 Pattern -->
		<url-pattern>/page/*</url-pattern>
		<url-pattern>*.jsp</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	
	<!-- EHCache-Web 页面缓存过滤器 -->
	<!-- 
	<filter>  
		<filter-name>PageCacheFilter</filter-name>
			<filter-class>net.sf.ehcache.constructs.web.filter.SimplePageCachingFilter</filter-class>
		<init-param>
			<param-name>cacheName</param-name>
			<param-value>MyWebCache</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PageCacheFilter</filter-name>
		<url-pattern>/test/page/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	-->

	<!-- MVC 前端控制器 -->
	<filter>
		<filter-name>ActionDispatcher</filter-name>
		<filter-class>com.bruce.mvc.ActionDispatcher</filter-class>
		
		<!-- MVC 主配置文件 -->
		<!-- 
		<init-param>
			<param-name>mvc-config-file</param-name>
			<param-value>mvc-config.xml</param-value>
		</init-param>
		-->
	</filter>
	<filter-mapping>
		<filter-name>ActionDispatcher</filter-name>
		<url-pattern>*.action</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<!-- EHCache 清理器 -->
	<listener>
		<listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
	</listener>

	<!-- Portal-Basic 启动器 -->
	<listener>
		<listener-class>com.bruce.app.AppListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.action</welcome-file>
	</welcome-file-list>
</web-app>
